

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
  <button mat-button [matMenuTriggerFor]="mainMenu">Seleccionar componente</button>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item (click)="selectComponent('badge')">Badge Overview</button>
    <button mat-menu-item (click)="selectComponent('checkboxes')">Basic Checkboxes</button>
    <button mat-menu-item (click)="selectComponent('expansion')">Expansion Panel</button>
    <button mat-menu-item (click)="selectComponent('autocomplete')">Mat Autocomplete</button>
    <button mat-menu-item (click)="selectComponent('simple-form-field')">Simple Form Field</button>
    <button mat-menu-item (click)="selectComponent('progress-spinner')">Configurable Progress Spinner</button>
    <button mat-menu-item (click)="selectComponent('paginator')">Configurable Paginator</button>
    <button mat-menu-item (click)="selectComponent('card')">Card Overview</button>
    <button mat-menu-item (click)="selectComponent('button-toggle')">Button Toggle Selection Mode</button>
    <button mat-menu-item (click)="selectComponent('slide-toggle')">Slide Toggle With Forms</button>
    <button mat-menu-item (click)="selectComponent('sorting')">Sorting Overview</button>
    <button mat-menu-item (click)="selectComponent('stepper')">Stepper Vertical</button>
    <button mat-menu-item (click)="selectComponent('tab-group')">Tab Group</button>
    <button mat-menu-item (click)="selectComponent('table-expandable')">Table Expandable Rows</button>
  </mat-menu>

  <div style="width: 100%; display: flex; align-items: center; justify-content: center; min-height: 60vh;">
    <app-badge-overview *ngIf="selectedComponent === 'badge'"></app-badge-overview>
    <app-basic-checkboxes *ngIf="selectedComponent === 'checkboxes'"></app-basic-checkboxes>
    <app-expansion-panel *ngIf="selectedComponent === 'expansion'"></app-expansion-panel>
    <app-mat-autocomplete *ngIf="selectedComponent === 'autocomplete'"></app-mat-autocomplete>
    <app-simple-form-field *ngIf="selectedComponent === 'simple-form-field'"></app-simple-form-field>
    <app-configurable-progress-spinner *ngIf="selectedComponent === 'progress-spinner'"></app-configurable-progress-spinner>
    <app-configurable-paginator *ngIf="selectedComponent === 'paginator'"></app-configurable-paginator>
    <app-card-overview *ngIf="selectedComponent === 'card'"></app-card-overview>
    <app-button-toggle-selection-mode *ngIf="selectedComponent === 'button-toggle'"></app-button-toggle-selection-mode>
    <app-slide-toggle-with-forms *ngIf="selectedComponent === 'slide-toggle'"></app-slide-toggle-with-forms>
    <app-sorting-overview *ngIf="selectedComponent === 'sorting'"></app-sorting-overview>
    <app-stepper-vertical *ngIf="selectedComponent === 'stepper'"></app-stepper-vertical>
    <app-tab-group *ngIf="selectedComponent === 'tab-group'"></app-tab-group>
    <app-table-expandable-rows *ngIf="selectedComponent === 'table-expandable'"></app-table-expandable-rows>
  </div>
</div>
